body {
    margin: 0;
}



input {
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: #6943FF;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 58px;
    text-align: center;
}

.input-body {
    background-color: #6943FF;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    background-color: white;
    width: 117px;
    height: 42px;
    border: 0px;
    border-radius: 5px;
    margin: 30px;

}

.conversion-body {
    background-color: #1F2937;
    padding: 40px;
    margin-top: 0;
    
}

.conversion {
    font-family: "Inter", sans-serif;
    text-align: center;
    background-color: #273549;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 40px;
}

.conversion-title {
    color: #CCC1FF;
    font-size: 20px;
}

#mass-text {
    color: white;
}

#length-text {
    color: white;
}

#volume-text {
    color: white;
}